body {
    /* Sky-Blue Radial Background */
    background: rgb(188,221,235);  
    background: radial-gradient(circle, rgba(188,221,235,1) 0%, rgba(135,206,235,1) 27%, rgba(115,205,242,1) 68%, rgba(99,151,249,1) 100%);
    font-family: 'Open Sans', sans-serif; /* Open Sans Font */
}

#number-el {
    width: 100%;
    height: 150px;
    display: flex; /* So that the Number Element can be positioned in the middle */
    justify-content: center;
    text-align: center;
}

div h1 { /* Styling of the Number Counter */
    font-size: 108px;
    font-weight: 300;
    margin: 0%;
    padding: 0;
    justify-content: center;
    text-align: center;
}

#title-el h5 {
    font-size: 24px;
    font-weight: 600; /* Making the "Counter App" title Bold */
    margin: 0%;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
}

#container { /* Container with plus & minus buttons */
    min-width: 100vw; /* So that the container spans the whole page */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container button {
    background-color: transparent;
    border-width: 3px;
    border-color: white;
    padding: 5px;
    margin: 10px;
}

#container #increment-btn, #container #decrement-btn {
    border-radius: 100%; /* To make the - and + buttons circular */
}

#container button {
    transition: all 0.1s ease; /* Mini transition when hovering mouse over each button */
}

#container button:hover {
    transform: scale(1.1, 1.1); /* Hover Pseudo-class to increase size of buttons by 10% */
}


